<div class="modal-header">
    <h3>
        Hello, NDDNUG!
        <button type="button" class="close" data-dismiss="modal">[x]</button>
    </h3>
</div>
<div class="modal-body">
    <ul>
        <li>
            Shane Henderson - <a href="https://twitter.com/shanehenderson" target="_blank">
                                @string.Format("@{0}", "shanehenderson")
                             </a>
            <ul>
                <li>
                    <em>The President</em>
                </li>
            </ul>
        </li>
        <li>
            David Penton - <a href="https://twitter.com/dpenton" target="_blank">
                            @string.Format("@{0}", "DPenton")
                           </a>
            <ul>
                <li>
                    gimme more databases, nomz!
                </li>
            </ul>
        </li>
        <li>
            Eric Sowell - <a href="https://twitter.com/Mallioch" target="_blank">
                            @string.Format("@{0}", "Mallioch")
                          </a>
            <ul>
                <li>
                    Secretary to Shane
                </li>
            </ul>
        </li>
        <li>
            Chip Pace - <a href="https://twitter.com/japacejr" target="_blank">
                            @string.Format("@{0}", "japacejr")
                        </a>
            <ul>
                <li>
                    GO BAMA!
                </li>
            </ul>
        </li>
        <li>
            Darren White - <a href="https://twitter.com/dowjack" target="_blank">
                             @string.Format("@{0}", "dowjack")
                           </a>
            <ul>
                <li>
                    Junior Intern in Training
                </li>
            </ul>
        </li>
        <li>
            Justin Williams - <a href="https://twitter.com/JustinsHat" target="_blank">
                                @string.Format("@{0}", "JustinsHat")
                              </a>
            <ul>
                <li>
                    EPIC DEVELOPER
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="modal-footer">
    <input type="button" id="submitButton" class="btn btn-primary" value="kthxbai" data-dismiss="modal" />
</div>
